
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Readex+Pro:wght@200&display=swap');


html,body{
    margin: 0;
    padding: 0;
}

* {
    font-family:  'Readex Pro';
}

.primary-button{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #815703, #ffef40);
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}

.primary-button:hover{
    background:linear-gradient(260deg, #815703, #ffef40) ;
}

.primary-title{
    font-size: 45px;
    
}

body{
    text-align: center;
    height: 100%;
    background-color: #fff6f7;
}

/*----nav-----*/
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
nav .navbutton{
    color: #ffef40;
    background-color: #815703;
    border-radius: 10px;
    font-size: large;
    padding: 10px ,20px;
    border: none;
    margin: 15px;
    height: 40px;
    width: 80px;
    margin-right:2rem ;
    margin-top:3.3rem;

}
nav .navbutton:disabled{
    background-color: #462f02;

}
nav .logo-container{
    width: 140px;
    margin: 15px;

}

nav .logo-container .logo{
    width: 100%;
}


/*---home---*/

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:#fff6f7;
    
}
.onboarding {
background: #fff6f7;
}

.Auth-Modal{
    left: 0;
    right: 0;
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 100vh;
    background-color: white;
    border-radius: 10px;
    padding: 40px;

}
.Auth-Modal .close-icon{
    float: right;
    cursor: pointer;
}

.secondary-btn{
    color: rgb(121,119,119);
    background-color: white;
    font-weight: 500px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121,119,119);
    margin: 6px;
}

.secondary-btn:hover{
    color: rgb(48,48,48);
    border: solid 2px rgb(48,48,48);
}

h2{
    font-style: italic;
}

.Auth-Modal .form{
    display: flex;
    flex-direction: column;

}
.Auth-Modal input[type=password],[type=email]{
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}










/*_______Onboarding______*/
.OnBoarding{
    
}
.OnBoarding form {
    display: flex;
    justify-content: center;

}

.OnBoarding form section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.OnBoarding form input{
    padding: 15px 30px;
    margin: 10px 0px;
    font-size: 15px;
    border: solid 2px rgb(219 ,219 ,219);
    border-radius: 10px;
}
.OnBoarding form input::-webkit-outer-spin-button,
.OnBoarding form input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;

}
.OnBoarding form label{
 margin: 10px 0px;

}
.OnBoarding form .multipleinput input{
    margin-right: 10px;
}
.OnBoarding form .multipleinput label{
    padding: 10px;
    border: solid 2px rgb(144,144,144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}



.OnBoarding form .multipleinput{
    display: flex;
    flex-direction: row;
}

.OnBoarding form .multipleinput input[type="radio"]{
    display: none;
}

.OnBoarding form .multipleinput input[type="number"]{
    width: 10%;
}

.OnBoarding form input[type="radio"]:checked +label{
    border: solid 2px red;
}

.OnBoarding form input[type="submit"]:hover{
    background-color: rgb(235,235,235);

}
.OnBoarding form input[type="submit"]:active{
    background-color: rgb(226,115,155);
}


.OnBoarding form .photo-container{
    width: 100%;
}